collector.tcpListenIp={{getenv "COLLECTOR_TCPLISTENIP"}}
collector.tcpListenPort={{getenv "COLLECTOR_TCPLISTENPORT"}}
collector.tcpWorkerThread={{getenv "COLLECTOR_TCPWORKERTHREAD"}}
collector.tcpWorkerQueueSize={{getenv "COLLECTOR_TCPWORKERQUEUESIZE"}}
collector.tcpWorker.monitor={{getenv "COLLECTOR_WORKER_MONITOR"}}
collector.udpStatListenIp={{getenv "COLLECTOR_UDPSTATLISTENIP"}}
collector.udpStatListenPort={{getenv "COLLECTOR_UDPSTATLISTENPORT"}}
collector.l4.ip={{getenv "COLLECTOR_L4_IP"}}
collector.udpStatWorkerThread={{getenv "COLLECTOR_UDPSTATWORKERTHREAD"}}
collector.udpStatWorkerQueueSize={{getenv "COLLECTOR_UDPSTATWORKERQUEUESIZE"}}
collector.udpStatWorker.monitor={{getenv "COLLECTOR_UDPSTATWORKER_MONITOR"}}
collector.udpStatSocketReceiveBufferSize={{getenv "COLLECTOR_UDPSTATSOCKETRECEIVEBUFFERSIZE"}}
collector.udpSpanListenIp={{getenv "COLLECTOR_UDPSPANLISTENIP"}}
collector.udpSpanListenPort={{getenv "COLLECTOR_UDPSPANLISTENPORT"}}
collector.udpSpanWorkerThread={{getenv "COLLECTOR_UDPSPANWORKERTHREAD"}}
collector.udpSpanWorkerQueueSize={{getenv "COLLECTOR_UDPSPANWORKERQUEUESIZE"}}
collector.udpSpanWorker.monitor={{getenv "COLLECTOR_UDPSPANWORKER_MONITOR"}}
collector.udpSpanSocketReceiveBufferSize={{getenv "COLLECTOR_UDPSPANSOCKETRECEIVEBUFFERSIZE"}}
collector.agentEventWorker.threadSize={{getenv "COLLECTOR_AGENTEVENTWORKER_THREADSIZE"}}
collector.agentEventWorker.queueSize={{getenv "COLLECTOR_AGENTEVENTWORKER_QUEUESIZE"}}
statistics.flushPeriod={{getenv "STATISTICS_FLUSHPERIOD"}}
cluster.enable={{getenv "CLUSTER_ENABLE"}}
cluster.zookeeper.address={{getenv "CLUSTER_ZOOKEEPER_ADDRESS"}}
cluster.zookeeper.sessiontimeout={{getenv "CLUSTER_ZOOKEEPER_SESSIONTIMEOUT"}}
cluster.listen.ip={{getenv "CLUSTER_LISTEN_IP"}}
cluster.listen.port={{getenv "CLUSTER_LISTEN_PORT"}}
collector.spanEvent.sequence.limit={{getenv "COLLECTOR_SPANEVENT_SEQUENCE_LIMIT"}}
collector.span.format.compatibility.version={{getenv "COLLECTOR_SPAN_FORMAT_COMPATIBILITY_VERSION"}}
collector.stat.format.compatibility.version={{getenv "COLLECTOR_STAT_FORMAT_COMPATIBILITY_VERSION"}}
